  .custom_style {
  margin: 40px 0 0 0; 
}

.question_btn h6 {
  font-size: 10px;
  font-weight: bold;
}

.act_block,a,.avatar_infoblock_col1 > h3,.status_bar >img,.status_bar.solocurso.clear img ,.tut_btn,.prev_btn,.prev_btn img,.crear_discusion_btn,.next_btn,.next_btn img,.evaluacion_btn,.evaluacion_btn,.volver,.not_block_col2,.not_col1,.closex,.login_btn  {
	cursor: pointer;
}

.hiderx,#crearmiforo {
	display: none;

}

.disc_block_A_col2  {
	font-size: 11px;
}


.disc_block_A_col2 h3 {
	font-size: 15px;
}




.mensaje_exito{
  background: none repeat scroll 0 0 #c5fcc0;
  border: 1px solid #96ffbf;
  margin: 8px;
  padding: 10px;
}


.error a {
	color: #0C4A6E;
	font-weight: bold;
}	

.error {
	margin-top: 30px;
}




.kudos {
  background: url("../img/kudos_icon0.png") no-repeat;
  height: 26px;
  margin: 5px auto 0;
  width: 30px;
}



.kudos_off {
  background: url("../img/kudos_icon.png") no-repeat;
  height: 26px;
  margin: 5px auto 0;
  width: 30px;
}

.nosotros_col1 h2 font {
  font-size: 22px;
  text-transform: uppercase;
}

.nosotros_col1 h3 font {
  color: #fff;
  font-size: 18px;
}

.mensaje_error {
  background: none repeat scroll 0 0 #ffdcdc;
  border: 1px solid #ff9696;
  margin: 8px;
  padding: 10px;
}



form h6 {
  text-align: center;
  font-size: 18px;
  display: none;
}

.video_wrap img {
  width: 430px;

}

.pregunta_rapida {
  display: none;
}







.box2,.box3,.box4 {
 background: none repeat scroll 0 0 #f5f5f5;
 border-radius: 5px;
 box-shadow: 0 0 5px #444444;
 display: none;
 height: 280px;
 margin: 0 auto;
 padding: 20px;
 pointer-events: auto;
 position: relative;
 text-align: center;
 top: -100%;
 width: 500px;
 z-index: 61;

}


.close2,.close3,.close4 {
  cursor: pointer;
  float: right;
  margin-right: 6px;
  font-size: 30px;
  line-height: 20px;


  
}

.box2 h4,.box3 h4,.box4 h4 {
  font-size: 16px;
  margin: 10px 0;
}


.box2 h3,.box3 h3,.box4 h3  {
  font-size: 24px;
  margin: 20px 0;
  width: 100%;
}




.conti{
  display: none;
}


#eva_50 {
  border-top: 0pt solid #5fcf80;
}


.box2 p,.box3 p,.box4 p {
  font-size: 14px;
}


.discusion {
 left: 0; 
}


.evaluacion_preg form span.error_eval {
  color: #f86363 !important;
}

.error_eval_s {
 border: 1px solid #f86363!important;
}


.actividad_aprobada2 {
  background: none repeat scroll 0 0 #fff;
  display: none;
  height: 100%;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  z-index: 65;
}


.vvideo {
  display: block;
  left: 8px;
  position: relative;
}


.evaluacion {
  display: block;
  left: 8px;
  position: relative;
}







.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }


/* ---- isotope ---- */

.isotope {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- vertical table-like ---- */

.table-like {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table-like > li {
  width: 100%;
  clear: both;
  border-top: 1px solid;
}

/* clearfix */
.table-like > li:after {
  display: block;
  content: '';
  clear: both;
}

.table-like > li > * {
  float: left;
  padding: 4px 4px;
}

.table-like .name { width: 30%; }
.table-like .symbol { width: 10%; }
.table-like .weight { width: 15%; }
.table-like .number { width: 10%; }
.table-like .category { width: 20%; }


.not_off {
  background: url("../img/not_icon_off.png") no-repeat;
}


.counter_foro,.miforocounter_foro {
 font-size: 11px;
}

.motivo_medalla a {
  color: #0f8dcd;
}

.medal_container img {
  border-radius: 55px;
  height: 45px;
  margin: 6px 4px 0;
  overflow: hidden;
  width: 45px;
}

/*
• El footer sigue quedando en blanco en la parte inferior, por ejemplo
en la pantalla de registro, si desea puede hacer acceso remoto con Edwin
para mostrarle pues es un tema que se viene diciendo hace varias
observaciones AJUSTE HECHO  EL CONTENEDOR DEL CENTRO DEBE TENER EL
SIGUIENTE ALTO min-height:500px;
*/

section#tutorial,section.editar,section#aula {

  min-height:500px;    

}


.discusion_off {
 background: url("../img/discusion_off.png") no-repeat scroll 19px 3px rgba(0, 0, 0, 0);
 height: 31px;
 width: 100%;
}


.pago_wrap {
  margin: 0 auto;
  padding: 20px 0 0;
  width: 960px;
}


.inbox_btn {
  position: relative;
  width: 100%;
}


.inbox_numero {
  background-color: #f28d18;
  border-radius: 15px;
  color: #fff;
  font-size: 10px;
  height: 20px;
  left: 64px;
  line-height: 20px;
  position: absolute;
  top: -16px;
  width: 20px;
}

.delete_inbox{
  position: absolute;
  right: 0px;
}

.clicker_inbox{
  position: absolute;
  right: 0px;
}

.inbox_block_wrap{
  position: relative;
}


.inbox_wrap,.pago_wrap {
  min-height:600px;  
}

.notificaciones_wrap{

}

.actualiza_tus_datos_wrap{

}


.off_est {
  background-color: #eeeeee;
}

.on_est {
  background-color: #5fcf80;
}


.act_actual {
  background-color: #f28d18!important;
}

.cursiv {
 color: #6f6f6f;
 font-style: italic;
 font-weight: bold;
}

.disc_block_A_col1{
  position: relative;
}

.login_wrap {
  min-height: 500px;
}

.cursos_destacados {
  min-height: 500px;
  margin-top: 28px;
}

.curso_wrap {
 min-height: 500px;
}


.not_page_wrap {
 min-height: 500px;
}

.cert_page_wrap {
  min-height: 500px; 
}



div#load_screen2 {
  background: #fff;
  opacity: 1;
  position: fixed;
  z-index: 60;
  top: 0px;
  width: 100%;
  height: 1600px;
}


div#load_screen2 > div#loading {
  color: #0f8dcd;
  background: url(../img/virtualab.png);
  background-repeat: no-repeat;
  background-position: 10px 15px;
  width: 120px;
  height: 120px;
  margin: 250px auto;
  text-align: align;
  font-size: 16px;
  position: relative;
}

.closex_foro {
 font-weight: bold;
 position: absolute;
 right: 8px;
 top: 1px;
}

.disc_block_B {
  position: relative;
}

.closex_foro {
  cursor: pointer;
}

.titulo_registro {
  color: #0f8dcd;
  font-size: 21px;
  font-weight: bold;
  padding: 1px;
  text-align: center;
}

.explicacion_texto{
 clear: both;
 font-size: 11px;
 font-style: italic;
}


nav ul li a {
  border-bottom: none;
}





.discusion_btn {
  background-color: #f28d18;
  color: #fff;
}

.imprimir_recibo {
  cursor: pointer;
}

.biton  {
 color: #222;
}

.biton p {
  margin-bottom: 10px;
}



.light_blue {
  border-radius: 15px;
}


.circle span {
 left: 31px;
 top: 106px;
}


#c1 {
  font-size: 12px; margin: 4px 10px 27px 0px; padding: 11px 16px 16px 0px;
}


#c2 {
  float: left;
}

#c2 a {
  color: #1A1A1A;
  border-bottom: 1px solid #1A1A1A;
}


#c2 a:hover {
  color: #676767;
  border-bottom: 1px solid #676767;
}

#c3 {
  float: left; margin-top: 9px;
}

footer {
  background-image: none;
}

.atributos {
  background: none;
}


@media screen and (max-width: 719px) and (min-width: 480px) {
  .logo {
    background-image: none;
  }

}


.activity_title {
  max-width: 460px;
}


.discusion_btn:hover {
 background-color: #f4972f;
}


.color_footerx {

}


@media screen and (min-width: 720px) and (max-width: 959px) {


 .box1,.box2,.box3,.box4
 {
  position:fixed;
  top:-100%;
  left:15%;
  width:500px;
  height:400px;
  background:#f5f5f5;
  z-index:61;
  padding:20px 10px 30px 10px;
  margin:0 auto;

}


}

.color_footerx {
    height: 165px!important;
}


@media screen and (min-width: 480px) and (max-width: 719px) {

 .box1,.box2,.box3,.box4
 {
  position:relative;
  top:-100%;
  width:400px;
  height:420px;
  background:#f5f5f5;
  z-index:61;
  padding:20px 10px 30px 10px;
  margin:0 auto;

}


.color_footerx {
    height: 120px!important;
}



}




@media screen and (min-width: 20px) and (max-width: 479px) {

 .box1,.box2,.box3,.box4
 {
  position:relative;
  top:-100%;
  margin:0 auto;
  width:300px;
  height:420px;
  background:#f5f5f5;
  z-index:61;
  padding:20px 0 30px 0;
  margin:0 auto;

}


 .social {
  margin: 7px 0 0 0; 
}


.inbox_numero {
left: 38px;
top: -16px;
}


}



.actividad_aprobada_wrap h4 {
  color: #fff !important;
}

.sus_col2 a h2 {
    color: #29a659;
    font-weight: bold;
}

.navmovil{

}


.navmovil li.active{
  
}